/***************header***************/
body{
	background-color: #fff;
	overflow-x: hidden;
	height: 900px;
}

.header-wrapper {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1em;
}

.date {
	background-color: blue;
	color: #fff;
}

span {
	padding-left: 15px;
}
#clock {
	display: inline-block;
	color: #fff;
	margin-left: 15px;
	padding-top: 10px 0;
	height: 20px;
}

#social-media {
	position: relative;
	left: 70%;
}

.logo {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 1em;
	border-bottom:#fff 1px solid;
	margin-top: 15px;
}

#logo-phone {
	position: relative;
	left: 30%;
	top: 30%;
}

#flag {
	width: 80%;
	height: 145px;
}

#flag img{
	margin-left: 25%;
	width: 100%;
	height: 100%;
}

/*.logo-nav, .logo{
	padding-top: 10px;
}*/

/*.logo a img{
	margin-left: 15px;
}*/

/*.login-signup{
	margin-left: 35px;
}*/

.login-signup form{
	position: relative;
	padding-top: 5px;
	padding-bottom: 10px;
	margin-left: 15px;
}

#weather-box {
	height: 100px;
	width: 700px;
	background: #000;
}

nav{
	margin-top: 10px;
	border-top: red 2px solid;
	background: #000;
}

nav ul li{
	display: inline-block;
	font-size: 1.3rem;
	padding: 15px;
}

nav ul li a{
	color: #fff;
}

nav ul li a:hover{
	background: red;
	color: #fff;
	text-decoration: none;
	padding: 17px 0;
}
textarea{
	width: 23rem;
	height: 6rem;
	background-color: #fff;
	resize: none;
}

#logged-out{
	position: relative;
	top: 10px;
	left: 30px;
	z-index: 2;
	color: red;
}

/*********end of header***********/

/**********index**************/
.nested {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: 180px;
	grid-gap: 1em;
}

.nested > div {
	border: #333 1px solid;
}

.nested img{
	width: 100%;
	height: 100%;
}

.wrapper img {
	width: 100%;
	height: 100%;
}
.wrapper {
			
			display: grid;
			grid-template-columns:2fr 1fr;
			grid-gap: 1em;
			grid-auto-rows: 375px;
		}


/*.nested {
			
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-auto-rows: 100px;

		}

.nested > div {
	background-color: #eee;

}*/


/*#top-bg-container{
	position: relative;
	height: 360px;
	width: 500px;
	left: 20px;
}
#top-bg-img {
	position: relative;
	background-image: url('../img/bg1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.img-gallary img{
	height: 50px;
}

#box-container{
	
	width: 1200px;
	
}
.boxes {
	position: relative;
	display: inline-block;
	top: 200px;
	height: 350px;
	width: 275px;
	background-color: #ddd;
	margin: 3rem;
}

.box1{
	
}

.box2{

}*/

/*******end of index************/

/**********signup**************/

main form {
	position: relative;
	top: 300px;
}
.comments-img{
	width: 23rem;
	height: 18rem;
}

.comment-button{
	width: 8rem;
	height: 3rem;
	background-color: #282828;
	border: none;
	margin-bottom: 6rem;
	color: #fff;
	font-family: arial, sans-serif;
	font-weight: 400;
	cursor: pointer;
}

.comment-box {
	width:21rem;
	padding:20px;
	margin-bottom: 2rem;
	background-color: #fff;
	border-radius: 5px;
}

.comment-box p {
	font-family: arial, sans-serif;
	font-size: 1rem;
	line-height: 1.3rem;
	color: #282828;
	font-weight: 100;
}